{% extends "layout.html" %}
{% block content %}

    <div class="container-fluid">

        <div class="row" style="padding-top:1rem;">
            <div class="col-8 align-top" style="padding-top:1rem;">
                <img class="align-top img-fluid rounded" style="max-width:97%;" src="image" id="image">
            </div>


            <div class="col-4">

                <div class="card">
                    <div class="card-body rounded" style="background-color:#343a40;">
                        <div class="row align-items-center">
                            <div class="col">
                                <h6 class="card-title text-uppercase text-muted mb-2">Location</h6>
                                {% if location %}
                                    <span class="h2 mb-0" style="color:#ffffff;">{{ location }}</span>
                                {% else %}
                                    <span class="h2 mb-0" style="color:#ffffff;">Undefined location</span>
                                {% endif %}
                            </div>
                            <div class="col-auto">

                            </div>
                        </div>
                    </div>
                </div>


                {%  for value in values %}
                    <div class="card">
                    <div class="card-body">
                        <div class="row align-items-center">
                            <div class="col">
                                <h6 class="card-title text-uppercase text-muted mb-2">{{ value.name }}</h6>
                                <span class="h2 mb-0" id="{{ value.id }}">{{  value.value }}</span>
                                <span class="badge badge-success mt-n1" id="count_current_diff"></span>
                            </div>
                            <div class="col-auto">
                                <span class="fas fa-3x {{ value.icon }}" style="color:#95aac9;"></span>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}


            </div>
        </div>

    </div>

{% endblock %}